{{> header}}

<br>
<br>
<br>
  <div class="welcome-info text-center">
    <h1>Tick-it!</h1>
    <p>Don't get ticked off!</p> <p>Use Tick-it! A fast and easy ticketing system!</p>
    <br>
    <br>
    <!-- button trigger sign up modal and to view sample page -->
      <div class='container'>
        <div class='row'>
          <div class='col-md-8 col-md-offset-2 buttons'>
            <span><a class="btn btn-default btn-lg btn-xl" id="sign-button" data-toggle="modal" data-target="#signUpModal" role="button">Start Tick-it!</a>
          </div>
        </div>
      </div>    
  </div> 
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      
        
        <div class="caption text-center">
          <br>
            <div class="col-md-4"> 
                <p>Manage Tickets</p>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuFVzHnWLxg6hbVAr81OlUnLiTRSS4FJrLsVgMp_ahxiPTrj9x" alt="checklist"/>
            </div>
            <div class="col-md-4"> 
                <p>Save Time</p>
            <div>
                <img src="http://www.ikea.com/PIAimages/13080_PE040801_S3.JPG" alt=" clock"/>
            </div>
            </div>
            <div class="col-md-4"> 
                <p>Track Tickets</p>
                    <img src="http://www.intraworlds.com/wp-content/uploads/2015/01/IntraWorlds_icon_Solutions_IntraWorlds-Source_manage.png"/> 
            </div>
            </div>
        </div>
  
  
<!-- Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a new account</h4>
      </div>
      <!-- sign up form -->
      <div class="modal-body">
        <form class="form-horizontal" id="signUpForm">
          <div class="form-group">
            <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="first_name" id="inputFirstName" placeholder="First name...">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="last_name" id="inputLastName" placeholder="Last name...">
            </div>
          </div>
          <div class='alert' id='alert-sign-up'></div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control required" name="email" id="inputEmail" placeholder="Email...">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control required"name="password" id="inputPassword" placeholder="Create password...">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword2" class="col-sm-3 control-label required">Confirm Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password2" id="inputPassword2" placeholder="Confirm password...">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="signUp">Create account</button>
              
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <script type="text/javascript" src="main.js"></script>
</body>
</html>
